.pTip {
	position:relative;
	text-decoration:none;
}
.pTip span {
	display: none;
	text-decoration:none;
}
.pTip:hover span{
	display:block;
	font-size:13px;
	text-align:center;
	border:2px solid #000;
	background:#F1F1F1;
	padding:10px 10px;
	position:absolute;
	top:22px; left:18px;
	color:#000;
	width: 45px;
}
.iTip {
	position:relative;
	text-decoration:none;
}
.iTip span {
	display: none;
	text-decoration:none;
}
.iTip:hover span{
	display:block;
	font-size:13px;
	text-align:left;
	border:2px solid #000;
	background:#F1F1F1;
	padding:10px 10px;
	position:absolute;
	top:26px; left:93px;
	color:#000;
	width: 300px;
}