.button1{
	cursor: pointer;
	width: 62px;
	height: 17px;
	background-image: url(../images/export.png);
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: center;
	border: 0 solid #000000;
}
.button2{
	cursor: pointer;
	width: 20px;
	height: 21px;
	background-image: url(../images/go.png);
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: center;
	border: 0 solid #000000;
}